ApacheNifi_processor/1_Source_to_Staging/ETL_Salinity_Data.json
{"flowContents":{"identifier":"94161454-9df8-3654-ba0b-8202ec39ec52","instanceIdentifier":"eb46e175-0195-1000-93d4-788fd3249b00","name":"ETL Salinity data from Source to Staging","comments":"","position":{"x":-320.0,"y":-888.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a60eed77-4ab8-36c3-a298-9e1bf61fdff0","instanceIdentifier":"eb91224d-0195-1000-88b7-eb551c3a6bf7","name":"ReplaceText","comments":"","position":{"x":64.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":".*","Replacement Value":"{\n    \"source\": \"Weekly_report\",\n    \"raw_data\": {\n        \"location\": \"${location}\",\n\t\t\"start_date\": \"${start_date}\",\n\t\t\"end_date\": \"${end_date}\",\n\t\t\"avg_salinity\": \"${avg_salinity}\"\n    }\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"5fb33e34-a7ed-3136-ac2c-edabd00ac06e","instanceIdentifier":"eb78ad31-0195-1000-c1a5-daf1291e0a47","name":"GetFile","comments":"Get salinity data from weekly report file (a CSV file). Run once every week.","position":{"x":-519.2122224704153,"y":-153.3087375175948},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"E:/AppData/ApacheNifi/data/weekly_report","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"weekly_salinity_report.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 9 * * 2 ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc","name":"EvaluateJsonPath","comments":"","position":{"x":64.0,"y":336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"end_date":"$.end_date","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","location":"$.province","avg_salinity":"$.avg_salinity","Path Not Found Behavior":"ignore","start_date":"$.start_date"},"propertyDescriptors":{"end_date":{"name":"end_date","displayName":"end_date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false,"dynamic":true},"avg_salinity":{"name":"avg_salinity","displayName":"avg_salinity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"start_date":{"name":"start_date","displayName":"start_date","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"71c0ed97-95b6-3a71-ae39-be97ad05aa62","instanceIdentifier":"eb86f39d-0195-1000-7a4b-b39bd5f0b7af","name":"PutDatabaseRecord","comments":"","position":{"x":56.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"climeweather","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0c7f0c62-2d28-3f10-812e-5389a75619de","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"staging_salinity_raw","put-db-record-record-reader":"82497836-394c-3392-8269-0c6c2e47c5fa"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"090a1f6c-9f6c-3c33-b374-5e9fbfb6b2bf","instanceIdentifier":"eb8e7832-0195-1000-42be-5ca50d1be7e3","name":"SplitJson","comments":"Split JSON Array into Smaller Object","position":{"x":-512.0,"y":336.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"c7ba6e90-675d-3f0a-b4e7-46d09a509e3d","instanceIdentifier":"eb80309a-0195-1000-7876-200dda7c1574","name":"ConvertRecord","comments":"Read CSV file then transform into json record","position":{"x":-512.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"6c7d6132-2963-3db4-9b3b-cba57803b96e","Record Reader":"0d0977a1-8be5-3837-a89c-cc0849ca0516"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4ff0dfbc-2ebf-3338-b7cd-17fdda027e57","instanceIdentifier":"eb9af756-0195-1000-1d07-0906e4c97ec0","name":"","source":{"id":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc"},"destination":{"id":"df854fe5-9b12-3cd8-aa98-ac68dce76eee","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb9ae32c-0195-1000-854e-7ff211de98cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"8d9a3096-becb-3f28-bfc4-e122abc9c8a7","instanceIdentifier":"eb95dc8e-0195-1000-93f7-2279145270b5","name":"","source":{"id":"71c0ed97-95b6-3a71-ae39-be97ad05aa62","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"eb86f39d-0195-1000-7a4b-b39bd5f0b7af"},"destination":{"id":"84d0fc59-89e8-339a-b0ea-0175e0435c6f","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb943b5f-0195-1000-9116-3baeb16a1d73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"d2dc6b33-15da-30ae-aa9a-d8a8899db84e","instanceIdentifier":"eb8f9bdf-0195-1000-be4a-0ed9a4f7a381","name":"","source":{"id":"c7ba6e90-675d-3f0a-b4e7-46d09a509e3d","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ConvertRecord","comments":"Read CSV file then transform into json record","instanceIdentifier":"eb80309a-0195-1000-7876-200dda7c1574"},"destination":{"id":"090a1f6c-9f6c-3c33-b374-5e9fbfb6b2bf","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"SplitJson","comments":"Split JSON Array into Smaller Object","instanceIdentifier":"eb8e7832-0195-1000-42be-5ca50d1be7e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"7ff7f543-3640-31f3-bb1d-7364acbd2c23","instanceIdentifier":"eb9b5ac5-0195-1000-7512-b3adc615e3a9","name":"","source":{"id":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc"},"destination":{"id":"a60eed77-4ab8-36c3-a298-9e1bf61fdff0","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ReplaceText","comments":"","instanceIdentifier":"eb91224d-0195-1000-88b7-eb551c3a6bf7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"7f1ca316-c463-3f57-985e-eaeb67ad0725","instanceIdentifier":"eb9ad0de-0195-1000-69c3-d93d86ac7776","name":"","source":{"id":"090a1f6c-9f6c-3c33-b374-5e9fbfb6b2bf","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"SplitJson","comments":"Split JSON Array into Smaller Object","instanceIdentifier":"eb8e7832-0195-1000-42be-5ca50d1be7e3"},"destination":{"id":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"c9b09b32-e2d9-37b8-8815-36d5da2d82f5","instanceIdentifier":"eb944eda-0195-1000-e6ce-f3fcd0f70cfb","name":"","source":{"id":"a60eed77-4ab8-36c3-a298-9e1bf61fdff0","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ReplaceText","comments":"","instanceIdentifier":"eb91224d-0195-1000-88b7-eb551c3a6bf7"},"destination":{"id":"84d0fc59-89e8-339a-b0ea-0175e0435c6f","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb943b5f-0195-1000-9116-3baeb16a1d73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"34599d3a-1b47-3e2e-98b5-e00034cc053c","instanceIdentifier":"eb7edd70-0195-1000-9a1b-4ac17180baad","name":"","source":{"id":"5fb33e34-a7ed-3136-ac2c-edabd00ac06e","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"GetFile","comments":"Get salinity data from weekly report file (a CSV file). Run once every week.","instanceIdentifier":"eb78ad31-0195-1000-c1a5-daf1291e0a47"},"destination":{"id":"bfddf885-2245-3f29-8afe-f1509e504773","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb7ece7b-0195-1000-9c0f-9b3bb60ed48f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"ea31a3d5-4fd1-3908-abe7-9dec4440008f","instanceIdentifier":"eb824c0f-0195-1000-14ec-f0bd550878a7","name":"","source":{"id":"5fb33e34-a7ed-3136-ac2c-edabd00ac06e","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"GetFile","comments":"Get salinity data from weekly report file (a CSV file). Run once every week.","instanceIdentifier":"eb78ad31-0195-1000-c1a5-daf1291e0a47"},"destination":{"id":"c7ba6e90-675d-3f0a-b4e7-46d09a509e3d","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ConvertRecord","comments":"Read CSV file then transform into json record","instanceIdentifier":"eb80309a-0195-1000-7876-200dda7c1574"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"82c27638-adfe-3856-824d-6767c7cbd22c","instanceIdentifier":"eb95c75f-0195-1000-945c-b2764daa3379","name":"","source":{"id":"a60eed77-4ab8-36c3-a298-9e1bf61fdff0","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ReplaceText","comments":"","instanceIdentifier":"eb91224d-0195-1000-88b7-eb551c3a6bf7"},"destination":{"id":"71c0ed97-95b6-3a71-ae39-be97ad05aa62","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"eb86f39d-0195-1000-7a4b-b39bd5f0b7af"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"7106c1ff-ec35-333b-9f37-b9b2cae011df","instanceIdentifier":"eb852952-0195-1000-f18f-c7a431cfb14c","name":"","source":{"id":"c7ba6e90-675d-3f0a-b4e7-46d09a509e3d","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ConvertRecord","comments":"Read CSV file then transform into json record","instanceIdentifier":"eb80309a-0195-1000-7876-200dda7c1574"},"destination":{"id":"bfddf885-2245-3f29-8afe-f1509e504773","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb7ece7b-0195-1000-9c0f-9b3bb60ed48f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"013d15e1-88ff-3fce-9954-f44e59ad9185","instanceIdentifier":"eb853a3c-0195-1000-46c5-d2a651291f09","name":"","source":{"id":"c7ba6e90-675d-3f0a-b4e7-46d09a509e3d","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ConvertRecord","comments":"Read CSV file then transform into json record","instanceIdentifier":"eb80309a-0195-1000-7876-200dda7c1574"},"destination":{"id":"bfddf885-2245-3f29-8afe-f1509e504773","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb7ece7b-0195-1000-9c0f-9b3bb60ed48f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-648.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"6bea23c1-d6de-343f-a1e4-cc9644c8b618","instanceIdentifier":"eb8fdf82-0195-1000-c58e-835e77a32674","name":"","source":{"id":"090a1f6c-9f6c-3c33-b374-5e9fbfb6b2bf","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"SplitJson","comments":"Split JSON Array into Smaller Object","instanceIdentifier":"eb8e7832-0195-1000-42be-5ca50d1be7e3"},"destination":{"id":"f2fec719-f816-3b4d-992a-84803eddfd17","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb8b3f77-0195-1000-6b03-0d1196e4fd67"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-648.0,"y":320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"131528ad-b2d7-3000-b884-6a0c4ce4863e","instanceIdentifier":"eb9b1852-0195-1000-2013-7f042047ff0e","name":"","source":{"id":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc"},"destination":{"id":"df854fe5-9b12-3cd8-aa98-ac68dce76eee","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb9ae32c-0195-1000-854e-7ff211de98cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":600.0,"y":472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"ce35e896-b4df-306b-b756-e9487e19f3ee","instanceIdentifier":"eb9b07e6-0195-1000-8366-fce79a5a3042","name":"","source":{"id":"d8ac0f89-0eee-3692-8ee0-5b9b6a323130","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb9976b0-0195-1000-22a8-0ac58d3b8efc"},"destination":{"id":"df854fe5-9b12-3cd8-aa98-ac68dce76eee","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb9ae32c-0195-1000-854e-7ff211de98cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":600.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"844daf92-375e-3fe1-9262-70658b3e5beb","instanceIdentifier":"eb8fc621-0195-1000-bf46-411addd369a6","name":"","source":{"id":"090a1f6c-9f6c-3c33-b374-5e9fbfb6b2bf","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"SplitJson","comments":"Split JSON Array into Smaller Object","instanceIdentifier":"eb8e7832-0195-1000-42be-5ca50d1be7e3"},"destination":{"id":"f2fec719-f816-3b4d-992a-84803eddfd17","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb8b3f77-0195-1000-6b03-0d1196e4fd67"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"3ba43e7c-045b-313f-ab88-bbaaaecd0700","instanceIdentifier":"eb945de6-0195-1000-eeae-6ddb1a92899b","name":"","source":{"id":"a60eed77-4ab8-36c3-a298-9e1bf61fdff0","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"ReplaceText","comments":"","instanceIdentifier":"eb91224d-0195-1000-88b7-eb551c3a6bf7"},"destination":{"id":"84d0fc59-89e8-339a-b0ea-0175e0435c6f","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb943b5f-0195-1000-9116-3baeb16a1d73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":600.0,"y":168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"c5ef68b7-9fa3-3bc8-8413-f9efd5e58e28","instanceIdentifier":"eb95f047-0195-1000-1ed1-fa588f722168","name":"","source":{"id":"71c0ed97-95b6-3a71-ae39-be97ad05aa62","type":"PROCESSOR","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"eb86f39d-0195-1000-7a4b-b39bd5f0b7af"},"destination":{"id":"84d0fc59-89e8-339a-b0ea-0175e0435c6f","type":"FUNNEL","groupId":"94161454-9df8-3654-ba0b-8202ec39ec52","name":"Funnel","comments":"","instanceIdentifier":"eb943b5f-0195-1000-9116-3baeb16a1d73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":592.0,"y":-120.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"}],"labels":[],"funnels":[{"identifier":"f2fec719-f816-3b4d-992a-84803eddfd17","instanceIdentifier":"eb8b3f77-0195-1000-6b03-0d1196e4fd67","position":{"x":-824.0,"y":376.0},"componentType":"FUNNEL","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"bfddf885-2245-3f29-8afe-f1509e504773","instanceIdentifier":"eb7ece7b-0195-1000-9c0f-9b3bb60ed48f","position":{"x":-840.0,"y":16.0},"componentType":"FUNNEL","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"df854fe5-9b12-3cd8-aa98-ac68dce76eee","instanceIdentifier":"eb9ae32c-0195-1000-854e-7ff211de98cb","position":{"x":792.0,"y":376.0},"componentType":"FUNNEL","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"84d0fc59-89e8-339a-b0ea-0175e0435c6f","instanceIdentifier":"eb943b5f-0195-1000-9116-3baeb16a1d73","position":{"x":776.0,"y":-16.0},"componentType":"FUNNEL","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"}],"controllerServices":[{"identifier":"0c7f0c62-2d28-3f10-812e-5389a75619de","instanceIdentifier":"9a7c7df4-0195-1000-9864-b73d13515697","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/climeweather_dw","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"E:\\AppData\\PostgreSQL\\driver\\postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"eb46e175-0195-1000-93d4-788fd3249b00"},{"identifier":"6c7d6132-2963-3db4-9b3b-cba57803b96e","instanceIdentifier":"eb8417ff-0195-1000-f645-c61851bfc09c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"82497836-394c-3392-8269-0c6c2e47c5fa","instanceIdentifier":"eb87eb13-0195-1000-823a-503a6eba709a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"},{"identifier":"0d0977a1-8be5-3837-a89c-cc0849ca0516","instanceIdentifier":"eb830569-0195-1000-4720-98f04688b550","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94161454-9df8-3654-ba0b-8202ec39ec52"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}