ApacheNifi_processor/1_Source_to_Staging/ETL_Weather_Data.json
{"flowContents":{"identifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","instanceIdentifier":"8b7a9750-0195-1000-40ed-f6b6320588f6","name":"Extract  Weather Data API","comments":"","position":{"x":-744.0,"y":-888.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"efddbd80-6653-3959-bc8a-a43dbd132877","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","position":{"x":-600.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","station_id":"$.station_id","Null Value Representation":"empty string","lon":"$.lon","place_id":"$.place_id","lat":"$.lat","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"station_id":{"name":"station_id","displayName":"station_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lon":{"name":"lon","displayName":"lon","identifiesControllerService":false,"sensitive":false,"dynamic":true},"place_id":{"name":"place_id","displayName":"place_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"e1472aa6-dce5-350d-bfa7-546b67745f9d","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4","name":"ConvertRecord","comments":"Convert JSON format into Data Record","position":{"x":40.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b95e739a-4045-312a-af8f-748427e63bf2","Record Reader":"caeb129f-ba3f-376f-9971-72096d9f2be3"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","position":{"x":40.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"cloud":"$.daily.data[0].all_day.cloud_cover.total","Destination":"flowfile-attribute","precipitation":"$.daily.data[0].all_day.precipitation.total","temp_min":"$.daily.data[0].all_day.temperature_min","Max String Length":"20 MB","Return Type":"auto-detect","weather_type":"$.daily.data[0].all_day.weather","Null Value Representation":"empty string","time":"$.daily.data[0].day","temp_max":"$.daily.data[0].all_day.temperature_max","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"cloud":{"name":"cloud","displayName":"cloud","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"precipitation":{"name":"precipitation","displayName":"precipitation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"temp_min":{"name":"temp_min","displayName":"temp_min","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"weather_type":{"name":"weather_type","displayName":"weather_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"temp_max":{"name":"temp_max","displayName":"temp_max","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"ae9d6832-0ea7-32d5-bc06-6deafba46865","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e","name":"ReplaceText","comments":"Transform attribute data into JSON format ","position":{"x":40.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":".*","Replacement Value":"{\n    \"source\": \"API_MeteoWeather\",\n    \"raw_data\": {\n        \"time\": \"${time}\",\n\t\t\"weather_type\": \"${weather_type}\",\n        \"temp_max\": ${temp_max},\n\t\t\"temp_min\": ${temp_min},\n        \"precipitation\": ${precipitation},\n        \"cloud\": ${cloud},\n        \"location\": \"${place_id}\"\n    }\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41","name":"GenerateFlowFile","comments":"- Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.\n- Run at 9.00 AM every day.","position":{"x":-600.0,"y":-976.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n\t{\n\t\t\"place_id\": \"binh-duong\",\n\t\t\"lat\": 11.32540240,\n\t\t\"lon\": 106.47701700,\n\t\t\"station_id\": \"SE001\"\n\t},\n\t{\n\t\t\"place_id\": \"binh-phuoc\",\n\t\t\"lat\": 11.75118940,\n\t\t\"lon\": 106.72346390,\n\t\t\"station_id\": \"SE002\"\n\t},\n\t{\n\t\t\"place_id\": \"ho-chi-minh\",\n\t\t\"lat\": 10.82309890,\n\t\t\"lon\": 106.62966380,\n\t\t\"station_id\": \"SE003\"\n\t},\n\t{\n\t\t\"place_id\": \"dong-nai\",\n\t\t\"lat\": 11.06863050,\n\t\t\"lon\": 107.16759760,\n\t\t\"station_id\": \"SE004\"\n\t},\n\t{\n\t\t\"place_id\": \"tay-ninh\",\n\t\t\"lat\": 11.33515540,\n\t\t\"lon\": 106.10988540,\n\t\t\"station_id\": \"SE005\"\n\t},\n\t{\n\t\t\"place_id\": \"ba-ria-vung-tau\",\n\t\t\"lat\": 10.54173970,\n\t\t\"lon\": 107.24299760,\n\t\t\"station_id\": \"SE006\"\n\t},\n\t{\n\t\t\"place_id\": \"long-an\",\n\t\t\"lat\": 10.56071680,\n\t\t\"lon\": 106.64976230,\n\t\t\"station_id\": \"MD001\"\n\t},\n\t{\n\t\t\"place_id\": \"dong-thap\",\n\t\t\"lat\": 10.49379890,\n\t\t\"lon\": 105.68817880,\n\t\t\"station_id\": \"MD002\"\n\t},\n\t{\n\t\t\"place_id\": \"tien-giang\",\n\t\t\"lat\": 10.44933240,\n\t\t\"lon\": 106.34205040,\n\t\t\"station_id\": \"MD003\"\n\t},\n\t{\n\t\t\"place_id\": \"an-giang\",\n\t\t\"lat\": 10.52158360,\n\t\t\"lon\": 105.12589550,\n\t\t\"station_id\": \"MD004\"\n\t},\n\t{\n\t\t\"place_id\": \"ben-tre\",\n\t\t\"lat\": 10.24335560,\n\t\t\"lon\": 106.37555100,\n\t\t\"station_id\": \"MD005\"\n\t},\n\t{\n\t\t\"place_id\": \"vinh-long\",\n\t\t\"lat\": 10.23957400,\n\t\t\"lon\": 105.95719280,\n\t\t\"station_id\": \"MD006\"\n\t},\n\t{\n\t\t\"place_id\": \"tra-vinh\",\n\t\t\"lat\": 9.81274100,\n\t\t\"lon\": 106.29929120,\n\t\t\"station_id\": \"MD007\"\n\t},\n\t{\n\t\t\"place_id\": \"hau-giang\",\n\t\t\"lat\": 9.75789800,\n\t\t\"lon\": 105.64125270,\n\t\t\"station_id\": \"MD008\"\n\t},\n\t{\n\t\t\"place_id\": \"kien-giang\",\n\t\t\"lat\": 9.82495870,\n\t\t\"lon\": 105.12589550,\n\t\t\"station_id\": \"MD009\"\n\t},\n\t{\n\t\t\"place_id\": \"soc-trang\",\n\t\t\"lat\": 9.60252100,\n\t\t\"lon\": 105.97390490,\n\t\t\"station_id\": \"MD010\"\n\t},\n\t{\n\t\t\"place_id\": \"bac-lieu\",\n\t\t\"lat\": 9.29400270,\n\t\t\"lon\": 105.72156630,\n\t\t\"station_id\": \"MD011\"\n\t},\n\t{\n\t\t\"place_id\": \"ca-mau\",\n\t\t\"lat\": 9.15267280,\n\t\t\"lon\": 105.19607950,\n\t\t\"station_id\": \"MD012\"\n\t},\n\t{\n\t\t\"place_id\": \"can-tho\",\n\t\t\"lat\": 10.03418510,\n\t\t\"lon\": 105.72255070,\n\t\t\"station_id\": \"MD013\"\n\t}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 9 * * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"d5a06f01-8d42-3a80-81bd-296d098f80fe","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a","name":"SplitJson","comments":"Split the JSON array of objects into smaller FlowFiles containing the object in their content.  ","position":{"x":-600.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"393ced44-e85b-31d6-a1b5-06e1966755db","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861","name":"InvokeHTTP","comments":"","position":{"x":-600.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www.meteosource.com/api/v1/free/point?lat=${lat}&lon=${lon}&sections=daily&timezone=UTC&language=en&units=metric&key=pps7j0h4x8w5vcalg4k3zahww3y91raw3rgcywce","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"88f699d8-e5e4-34f3-9879-4ca190db64aa","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","position":{"x":40.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"climeweather","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0c7f0c62-2d28-3f10-812e-5389a75619de","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"staging_weather_raw","put-db-record-record-reader":"caeb129f-ba3f-376f-9971-72096d9f2be3"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9a580b94-9f02-35f5-878d-ea1bb5a72420","instanceIdentifier":"c7374e28-0195-1000-72b1-0d19a52e3ebc","name":"","source":{"id":"88f699d8-e5e4-34f3-9879-4ca190db64aa","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad"},"destination":{"id":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":536.0,"y":-904.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"d83dd3e2-0e7e-3ca9-ac3f-ba317e810293","instanceIdentifier":"8d79f2d3-0195-1000-4c08-d1d11d104c2a","name":"","source":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"eaec5db7-d19a-36db-b445-76c417b2b60d","instanceIdentifier":"c3937ea3-0195-1000-3caa-d326acb45f05","name":"","source":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array of objects into smaller FlowFiles containing the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"destination":{"id":"21325d94-31b3-3378-bc7b-aa790f56b56c","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-744.0,"y":-688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"7393732f-a995-3f07-817f-268788ba1f08","instanceIdentifier":"8d59c60d-0195-1000-361c-46ad5d1ab5a3","name":"","source":{"id":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"GenerateFlowFile","comments":"- Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.\n- Run at 9.00 AM every day.","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41"},"destination":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array of objects into smaller FlowFiles containing the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"51dc0ddf-9be8-320e-9501-ea8af5414943","instanceIdentifier":"8d9d5ea4-0195-1000-fb57-84c291851b4d","name":"","source":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"destination":{"id":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"c7de76b4-8ce9-3058-a96c-244c064f0d3a","instanceIdentifier":"8d591ef2-0195-1000-5d2f-68b98b4177b3","name":"","source":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array of objects into smaller FlowFiles containing the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"destination":{"id":"21325d94-31b3-3378-bc7b-aa790f56b56c","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"f1c544db-24cf-3c6c-82d8-e1c443e06b39","instanceIdentifier":"8d79c44a-0195-1000-6dd7-ed06079258e1","name":"","source":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"destination":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"0ee8f437-cebf-338c-9ccb-a5293aaafa5f","instanceIdentifier":"8d70b034-0195-1000-04f2-1e5bf45c6672","name":"","source":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"af72d21e-8648-3acf-a127-1e76e5b83c7e","instanceIdentifier":"8d9d8900-0195-1000-0bf9-c98324e87602","name":"","source":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"destination":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"2c18478c-16a6-3627-aaf3-697477d8d951","instanceIdentifier":"8dd5849d-0195-1000-2cb2-b708163b1cb0","name":"","source":{"id":"88f699d8-e5e4-34f3-9879-4ca190db64aa","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad"},"destination":{"id":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"f47e85ae-7c71-3ecb-941d-996a0a0f2de3","instanceIdentifier":"8ddeb5b9-0195-1000-8df6-deeaa9512dd3","name":"","source":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"destination":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"fecbb90a-9a7e-39bc-8bb5-440b19108296","instanceIdentifier":"c3ab99b1-0195-1000-1bda-041107a2e458","name":"","source":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"destination":{"id":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":528.0,"y":-272.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"9ae586b6-593d-32d7-af71-efd91e7dbd13","instanceIdentifier":"8ddf0a27-0195-1000-a8ac-34e57e71c0ae","name":"","source":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"destination":{"id":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"74327df8-0323-32b6-bbf8-490e9dd721ca","instanceIdentifier":"c395c7d3-0195-1000-926d-f9839d212786","name":"","source":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-744.0,"y":-456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"2cdc653f-547e-35c0-a945-8a07a1950217","instanceIdentifier":"c3a9d8ce-0195-1000-9c81-b62f7d5f66ca","name":"","source":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-192.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"35239dea-e3ba-38cb-a1fd-7da9f064fab0","instanceIdentifier":"8ddd1746-0195-1000-fd6c-9dea85675483","name":"","source":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"destination":{"id":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"7a9ca952-2a56-3fa6-ae66-d4bdfeafee63","instanceIdentifier":"8ddcfc82-0195-1000-dc23-000c7f753c93","name":"","source":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"destination":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"40527819-3a35-32c8-b418-39cae83b5e1a","instanceIdentifier":"8d59304e-0195-1000-5b10-db1d7132e211","name":"","source":{"id":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"GenerateFlowFile","comments":"- Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.\n- Run at 9.00 AM every day.","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41"},"destination":{"id":"21325d94-31b3-3378-bc7b-aa790f56b56c","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"34ad31f6-8596-317c-b223-2be183798011","instanceIdentifier":"8dd55228-0195-1000-f3f9-5971f22892a6","name":"","source":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"destination":{"id":"88f699d8-e5e4-34f3-9879-4ca190db64aa","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"2f16675f-b7dd-35fc-8fb0-b3902fe89c97","instanceIdentifier":"8d706e78-0195-1000-b469-70f513e96e1a","name":"","source":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array of objects into smaller FlowFiles containing the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"destination":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"labels":[],"funnels":[{"identifier":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129","position":{"x":672.0,"y":-424.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"032c2974-19db-38d5-98b5-e01bb65df23e","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f","position":{"x":-952.0,"y":-312.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362","position":{"x":680.0,"y":-824.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"21325d94-31b3-3378-bc7b-aa790f56b56c","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b","position":{"x":-944.0,"y":-888.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"controllerServices":[{"identifier":"0c7f0c62-2d28-3f10-812e-5389a75619de","instanceIdentifier":"9a7c7df4-0195-1000-9864-b73d13515697","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/climeweather_dw","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"E:\\AppData\\PostgreSQL\\driver\\postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8b7a9750-0195-1000-40ed-f6b6320588f6"},{"identifier":"caeb129f-ba3f-376f-9971-72096d9f2be3","instanceIdentifier":"8db464a2-0195-1000-ed46-788de933bd69","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"43a5ea7f-e7a3-3cbf-91bd-612bf7c87246","instanceIdentifier":"8dbf7ea2-0195-1000-c064-8b0588363df4","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"b95e739a-4045-312a-af8f-748427e63bf2","instanceIdentifier":"8db50e2c-0195-1000-814a-3a0736774944","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}