ApacheNifi_processor/NiFi_Flow.json
{"flowContents":{"identifier":"7ebd0df2-9c89-345c-af47-e25c4f2f4538","instanceIdentifier":"7a05640b-0195-1000-8eaf-c49705df4e55","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","instanceIdentifier":"8b7a9750-0195-1000-40ed-f6b6320588f6","name":"Extract  Weather Data API","comments":"","position":{"x":-744.0,"y":-888.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"efddbd80-6653-3959-bc8a-a43dbd132877","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","position":{"x":-600.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","station_id":"$.station_id","Null Value Representation":"empty string","lon":"$.lon","place_id":"$.place_id","lat":"$.lat","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"station_id":{"name":"station_id","displayName":"station_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lon":{"name":"lon","displayName":"lon","identifiesControllerService":false,"sensitive":false,"dynamic":true},"place_id":{"name":"place_id","displayName":"place_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"e1472aa6-dce5-350d-bfa7-546b67745f9d","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4","name":"ConvertRecord","comments":"Convert JSON format into Data Record","position":{"x":40.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b95e739a-4045-312a-af8f-748427e63bf2","Record Reader":"caeb129f-ba3f-376f-9971-72096d9f2be3"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","position":{"x":40.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","temperature":"$.main.temp","humidity":"$.main.humidity","Null Value Representation":"empty string","wind_speed":"$.wind.speed","Path Not Found Behavior":"ignore","timestamp":"$.dt"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"humidity":{"name":"humidity","displayName":"humidity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wind_speed":{"name":"wind_speed","displayName":"wind_speed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"ae9d6832-0ea7-32d5-bc06-6deafba46865","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e","name":"ReplaceText","comments":"Transform attribute data into JSON format ","position":{"x":40.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":".*","Replacement Value":"{\n    \"source\": \"API_OpenWeather\",\n    \"raw_data\": {\n        \"timestamp\": ${timestamp},\n        \"temperature\": ${temperature},\n        \"humidity\": ${humidity},\n        \"wind_speed\": ${wind_speed},\n        \"location\": \"${place_id}\",\n\t\t\"station_id\": \"${station_id}\"\n    }\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41","name":"GenerateFlowFile","comments":"Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.","position":{"x":-600.0,"y":-976.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n\t{\n\t\t\"place_id\": \"binh-duong\",\n\t\t\"lat\": 11.32540240,\n\t\t\"lon\": 106.47701700,\n\t\t\"station_id\": \"SE001\"\n\t},\n\t{\n\t\t\"place_id\": \"binh-phuoc\",\n\t\t\"lat\": 11.75118940,\n\t\t\"lon\": 106.72346390,\n\t\t\"station_id\": \"SE002\"\n\t},\n\t{\n\t\t\"place_id\": \"ho-chi-minh\",\n\t\t\"lat\": 10.82309890,\n\t\t\"lon\": 106.62966380,\n\t\t\"station_id\": \"SE003\"\n\t},\n\t{\n\t\t\"place_id\": \"dong-nai\",\n\t\t\"lat\": 11.06863050,\n\t\t\"lon\": 107.16759760,\n\t\t\"station_id\": \"SE004\"\n\t},\n\t{\n\t\t\"place_id\": \"tay-ninh\",\n\t\t\"lat\": 11.33515540,\n\t\t\"lon\": 106.10988540,\n\t\t\"station_id\": \"SE005\"\n\t},\n\t{\n\t\t\"place_id\": \"ba-ria-vung-tau\",\n\t\t\"lat\": 10.54173970,\n\t\t\"lon\": 107.24299760,\n\t\t\"station_id\": \"SE006\"\n\t},\n\t{\n\t\t\"place_id\": \"long-an\",\n\t\t\"lat\": 10.56071680,\n\t\t\"lon\": 106.64976230,\n\t\t\"station_id\": \"MD001\"\n\t},\n\t{\n\t\t\"place_id\": \"dong-thap\",\n\t\t\"lat\": 10.49379890,\n\t\t\"lon\": 105.68817880,\n\t\t\"station_id\": \"MD002\"\n\t},\n\t{\n\t\t\"place_id\": \"tien-giang\",\n\t\t\"lat\": 10.44933240,\n\t\t\"lon\": 106.34205040,\n\t\t\"station_id\": \"MD003\"\n\t},\n\t{\n\t\t\"place_id\": \"an-giang\",\n\t\t\"lat\": 10.52158360,\n\t\t\"lon\": 105.12589550,\n\t\t\"station_id\": \"MD004\"\n\t},\n\t{\n\t\t\"place_id\": \"ben-tre\",\n\t\t\"lat\": 10.24335560,\n\t\t\"lon\": 106.37555100,\n\t\t\"station_id\": \"MD005\"\n\t},\n\t{\n\t\t\"place_id\": \"vinh-long\",\n\t\t\"lat\": 10.23957400,\n\t\t\"lon\": 105.95719280,\n\t\t\"station_id\": \"MD006\"\n\t},\n\t{\n\t\t\"place_id\": \"tra-vinh\",\n\t\t\"lat\": 9.81274100,\n\t\t\"lon\": 106.29929120,\n\t\t\"station_id\": \"MD007\"\n\t},\n\t{\n\t\t\"place_id\": \"hau-giang\",\n\t\t\"lat\": 9.75789800,\n\t\t\"lon\": 105.64125270,\n\t\t\"station_id\": \"MD008\"\n\t},\n\t{\n\t\t\"place_id\": \"kien-giang\",\n\t\t\"lat\": 9.82495870,\n\t\t\"lon\": 105.12589550,\n\t\t\"station_id\": \"MD009\"\n\t},\n\t{\n\t\t\"place_id\": \"soc-trang\",\n\t\t\"lat\": 9.60252100,\n\t\t\"lon\": 105.97390490,\n\t\t\"station_id\": \"MD010\"\n\t},\n\t{\n\t\t\"place_id\": \"bac-lieu\",\n\t\t\"lat\": 9.29400270,\n\t\t\"lon\": 105.72156630,\n\t\t\"station_id\": \"MD011\"\n\t},\n\t{\n\t\t\"place_id\": \"ca-mau\",\n\t\t\"lat\": 9.15267280,\n\t\t\"lon\": 105.19607950,\n\t\t\"station_id\": \"MD012\"\n\t},\n\t{\n\t\t\"place_id\": \"can-tho\",\n\t\t\"lat\": 10.03418510,\n\t\t\"lon\": 105.72255070,\n\t\t\"station_id\": \"MD013\"\n\t}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"d5a06f01-8d42-3a80-81bd-296d098f80fe","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a","name":"SplitJson","comments":"Split the JSON array into smaller object. Result FlowFiles contain the object in their content.  ","position":{"x":-600.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"393ced44-e85b-31d6-a1b5-06e1966755db","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861","name":"InvokeHTTP","comments":"","position":{"x":-600.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=24b8530749d9eef3e5e0b659eb0b30ea","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"88f699d8-e5e4-34f3-9879-4ca190db64aa","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","position":{"x":40.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"climeweather","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"133ed0b6-ab21-32c1-9f81-76719856bc37","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"staging_weather_raw","put-db-record-record-reader":"caeb129f-ba3f-376f-9971-72096d9f2be3"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d83dd3e2-0e7e-3ca9-ac3f-ba317e810293","instanceIdentifier":"8d79f2d3-0195-1000-4c08-d1d11d104c2a","name":"","source":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"7393732f-a995-3f07-817f-268788ba1f08","instanceIdentifier":"8d59c60d-0195-1000-361c-46ad5d1ab5a3","name":"","source":{"id":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"GenerateFlowFile","comments":"Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41"},"destination":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array into smaller object. Result FlowFiles contain the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"51dc0ddf-9be8-320e-9501-ea8af5414943","instanceIdentifier":"8d9d5ea4-0195-1000-fb57-84c291851b4d","name":"","source":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"destination":{"id":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"c7de76b4-8ce9-3058-a96c-244c064f0d3a","instanceIdentifier":"8d591ef2-0195-1000-5d2f-68b98b4177b3","name":"","source":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array into smaller object. Result FlowFiles contain the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"destination":{"id":"21325d94-31b3-3378-bc7b-aa790f56b56c","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"f1c544db-24cf-3c6c-82d8-e1c443e06b39","instanceIdentifier":"8d79c44a-0195-1000-6dd7-ed06079258e1","name":"","source":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"destination":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"0ee8f437-cebf-338c-9ccb-a5293aaafa5f","instanceIdentifier":"8d70b034-0195-1000-04f2-1e5bf45c6672","name":"","source":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"destination":{"id":"032c2974-19db-38d5-98b5-e01bb65df23e","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"af72d21e-8648-3acf-a127-1e76e5b83c7e","instanceIdentifier":"8d9d8900-0195-1000-0bf9-c98324e87602","name":"","source":{"id":"393ced44-e85b-31d6-a1b5-06e1966755db","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"InvokeHTTP","comments":"","instanceIdentifier":"8d784b9d-0195-1000-2204-c33eb2578861"},"destination":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"2c18478c-16a6-3627-aaf3-697477d8d951","instanceIdentifier":"8dd5849d-0195-1000-2cb2-b708163b1cb0","name":"","source":{"id":"88f699d8-e5e4-34f3-9879-4ca190db64aa","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad"},"destination":{"id":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"f47e85ae-7c71-3ecb-941d-996a0a0f2de3","instanceIdentifier":"8ddeb5b9-0195-1000-8df6-deeaa9512dd3","name":"","source":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"destination":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"9ae586b6-593d-32d7-af71-efd91e7dbd13","instanceIdentifier":"8ddf0a27-0195-1000-a8ac-34e57e71c0ae","name":"","source":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"destination":{"id":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"35239dea-e3ba-38cb-a1fd-7da9f064fab0","instanceIdentifier":"8ddd1746-0195-1000-fd6c-9dea85675483","name":"","source":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"destination":{"id":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"7a9ca952-2a56-3fa6-ae66-d4bdfeafee63","instanceIdentifier":"8ddcfc82-0195-1000-dc23-000c7f753c93","name":"","source":{"id":"994e7310-bbf5-3fa9-9f38-c7e012c7c3ae","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Extract neccessary data from HTTP Responses","instanceIdentifier":"8d9c26c0-0195-1000-29a1-e7bfa6b6358d"},"destination":{"id":"ae9d6832-0ea7-32d5-bc06-6deafba46865","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ReplaceText","comments":"Transform attribute data into JSON format ","instanceIdentifier":"8ddb967c-0195-1000-03ff-69e8e49c767e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"40527819-3a35-32c8-b418-39cae83b5e1a","instanceIdentifier":"8d59304e-0195-1000-5b10-db1d7132e211","name":"","source":{"id":"456f3d43-f5d3-32c0-b87f-bcc50d8c6010","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"GenerateFlowFile","comments":"Generate FlowFile which contains all \"place_id\", \"lat\" and \"lon\" in its content.","instanceIdentifier":"8d57075e-0195-1000-1215-8e2c4e7bed41"},"destination":{"id":"21325d94-31b3-3378-bc7b-aa790f56b56c","type":"FUNNEL","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"Funnel","comments":"","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"34ad31f6-8596-317c-b223-2be183798011","instanceIdentifier":"8dd55228-0195-1000-f3f9-5971f22892a6","name":"","source":{"id":"e1472aa6-dce5-350d-bfa7-546b67745f9d","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"ConvertRecord","comments":"Convert JSON format into Data Record","instanceIdentifier":"8db025c3-0195-1000-2afa-19538b84a6f4"},"destination":{"id":"88f699d8-e5e4-34f3-9879-4ca190db64aa","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"PutDatabaseRecord","comments":"Put the Data Record into Database","instanceIdentifier":"8da796d8-0195-1000-3b19-2f031663a2ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"2f16675f-b7dd-35fc-8fb0-b3902fe89c97","instanceIdentifier":"8d706e78-0195-1000-b469-70f513e96e1a","name":"","source":{"id":"d5a06f01-8d42-3a80-81bd-296d098f80fe","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"SplitJson","comments":"Split the JSON array into smaller object. Result FlowFiles contain the object in their content.  ","instanceIdentifier":"8d58942f-0195-1000-e53e-1f792ee0aa8a"},"destination":{"id":"efddbd80-6653-3959-bc8a-a43dbd132877","type":"PROCESSOR","groupId":"fb7f7a5a-f04d-308c-aa74-b829b555a32a","name":"EvaluateJsonPath","comments":"Import the JSON object in the FlowFile attributes","instanceIdentifier":"8d6ead9b-0195-1000-8e1f-4d8f90b99e8d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"labels":[],"funnels":[{"identifier":"28bcbd48-f8be-3457-89eb-ae79b07d33e4","instanceIdentifier":"8d9d4879-0195-1000-a9d2-6701f521b129","position":{"x":672.0,"y":-424.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"032c2974-19db-38d5-98b5-e01bb65df23e","instanceIdentifier":"8d709bc6-0195-1000-b902-422523dd596f","position":{"x":-936.0,"y":-408.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"d16dac50-2f4e-3fe3-adf5-912e81726bf3","instanceIdentifier":"8dd5754c-0195-1000-fd4b-beb98146a362","position":{"x":680.0,"y":-824.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"21325d94-31b3-3378-bc7b-aa790f56b56c","instanceIdentifier":"8d59098b-0195-1000-0f22-7e69fe985c6b","position":{"x":-936.0,"y":-824.0},"componentType":"FUNNEL","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"controllerServices":[{"identifier":"caeb129f-ba3f-376f-9971-72096d9f2be3","instanceIdentifier":"8db464a2-0195-1000-ed46-788de933bd69","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"133ed0b6-ab21-32c1-9f81-76719856bc37","instanceIdentifier":"8dc2dae3-0195-1000-30e1-5c198b6e8457","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/climeweather_dw","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"E:\\AppData\\PostgreSQL\\driver\\postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"43a5ea7f-e7a3-3cbf-91bd-612bf7c87246","instanceIdentifier":"8dbf7ea2-0195-1000-c064-8b0588363df4","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"},{"identifier":"b95e739a-4045-312a-af8f-748427e63bf2","instanceIdentifier":"8db50e2c-0195-1000-814a-3a0736774944","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb7f7a5a-f04d-308c-aa74-b829b555a32a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7ebd0df2-9c89-345c-af47-e25c4f2f4538"},{"identifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","instanceIdentifier":"8e55fcbe-0195-1000-cb98-a34bf9352c5e","name":"Process Data in Staging Area","comments":"","position":{"x":-744.0,"y":-688.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9a33747a-db34-3f9b-811d-0ac6ac0cbf72","instanceIdentifier":"8e573675-0195-1000-53bf-5e6aa6ec4bdb","name":"ExecuteSQL","comments":"Get unprocessed data from postgresql \"staging_weather_raw\"","position":{"x":-280.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"13fe8918-94db-3bf9-9437-d94dee2013b6","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \n    swr.id, \n    swr.raw_data::jsonb->>'timestamp' AS timestamp,\n    dl.location_id,  -- Ly location_id t dim_location\n    swr.raw_data::jsonb->>'temperature' AS temperature,\n    swr.raw_data::jsonb->>'precipitation' AS precipitation,\n    swr.raw_data::jsonb->>'humidity' AS humidity,\n    swr.raw_data::jsonb->>'wind_speed' AS wind_speed,\n    swr.raw_data::jsonb->>'weather_type' AS weather_type,\n    swr.raw_data::jsonb->>'ndvi' AS ndvi\nFROM \n    climeweather.staging_weather_raw swr\nJOIN \n    climeweather.dim_location dl\nON \n    swr.raw_data::jsonb->>'station_id' = dl.station_id  -- nh x station_id vi location_id\nWHERE \n    swr.processed = FALSE;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"6fc720d4-299f-3db0-a185-4090ea34e3d1","instanceIdentifier":"9062061f-0195-1000-38aa-2688ba288b29","name":"PutSQL","comments":"Update \"processed\" field in \"staging_weather_raw\"","position":{"x":-896.0,"y":552.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"UPDATE climeweather.staging_weather_raw \nSET processed = TRUE \nWHERE id = ${id};","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"13fe8918-94db-3bf9-9437-d94dee2013b6","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"e444d5c4-bfe1-3e94-bb4f-4386b3f7ba1e","instanceIdentifier":"8ead42fe-0195-1000-0d69-a2579cb6e4d4","name":"UpdateAttribute","comments":"Transform Data:\n- Temperature: from Kevin to Celsius\n- Timestamp: to UTC","position":{"x":-528.0,"y":104.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","temperature":"${temperature:toNumber():minus(273.15)}","Stateful Variables Initial Value":null,"timestamp":"${timestamp:toNumber():multiply(1000):toDate(\"EEE MMM dd HH:mm:ss z yyyy\"):format(\"yyyy-MM-dd HH:mm:ss\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"5640079c-de42-36ac-a5dd-59f9fb910605","instanceIdentifier":"8f1cda2a-0195-1000-b9f6-e777f96de148","name":"EvaluateJsonPath","comments":"Turn data content into FlowFile attributes","position":{"x":-32.0,"y":104.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","temperature":"$.temperature","humidity":"$.humidity","Null Value Representation":"empty string","wind_speed":"$.wind_speed","id":"$.id","location_id":"$.location_id","Path Not Found Behavior":"ignore","timestamp":"$.timestamp"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"humidity":{"name":"humidity","displayName":"humidity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wind_speed":{"name":"wind_speed","displayName":"wind_speed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"location_id":{"name":"location_id","displayName":"location_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"b6b986a5-d775-3a47-a2af-0e0bd87aab9b","instanceIdentifier":"8f17deef-0195-1000-5910-dbf2a78cd160","name":"SplitJson","comments":"Split JSON array into smaller object FlowFiles","position":{"x":-40.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"6dd20b18-b995-3405-b193-e614d145f11f","instanceIdentifier":"8ecde451-0195-1000-b62f-8d2ad6180c9c","name":"ReplaceText","comments":"","position":{"x":-288.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":".*","Replacement Value":"{\n    \"timestamp\": \"${timestamp}\",\n\t\"location_id\": ${location_id},\n    \"temperature\": ${temperature},\n    \"humidity\": ${humidity},\n    \"wind_speed\": ${wind_speed}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"6398ad86-43f1-38a4-b276-bffe76ca4758","instanceIdentifier":"8ffbcf3f-0195-1000-c294-22cbb8a5b5d7","name":"PutDatabaseRecord","comments":"Insert cleaned data into Database","position":{"x":-288.0,"y":552.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"climeweather","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"13fe8918-94db-3bf9-9437-d94dee2013b6","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"staging_weather_cleaned","put-db-record-record-reader":"5d371a4b-930c-353b-b199-a23cf0b1d77b"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"8cd4dd43-10db-393c-87bd-64fee809d7fa","instanceIdentifier":"8f15e727-0195-1000-827f-ac1d16a710fc","name":"ConvertRecord","comments":"Convert from Arvo to JSON","position":{"x":-528.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"9749f4b4-aea8-3c4e-99ea-af4e5350f624","Record Reader":"91097ba1-2f83-3837-bb8d-526b504cdda2"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0dc045d1-2d24-3c46-a0c2-712bf6123967","instanceIdentifier":"8f1aa4f1-0195-1000-48fd-4823fb456659","name":"","source":{"id":"6dd20b18-b995-3405-b193-e614d145f11f","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ReplaceText","comments":"","instanceIdentifier":"8ecde451-0195-1000-b62f-8d2ad6180c9c"},"destination":{"id":"6b1c70d4-c1e3-3b6a-80ae-07d5be7f0e53","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f1a7589-0195-1000-a7a1-e442c9e60cb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"2a52c60c-0e28-3cb4-b0ce-10222a1f7eb4","instanceIdentifier":"8f1de9f9-0195-1000-1a30-8901eef02745","name":"","source":{"id":"5640079c-de42-36ac-a5dd-59f9fb910605","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"EvaluateJsonPath","comments":"Turn data content into FlowFile attributes","instanceIdentifier":"8f1cda2a-0195-1000-b9f6-e777f96de148"},"destination":{"id":"e444d5c4-bfe1-3e94-bb4f-4386b3f7ba1e","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"UpdateAttribute","comments":"Transform Data:\n- Temperature: from Kevin to Celsius\n- Timestamp: to UTC","instanceIdentifier":"8ead42fe-0195-1000-0d69-a2579cb6e4d4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"a8adf182-5076-391c-8bec-e89995d4aba3","instanceIdentifier":"8f176137-0195-1000-70e8-4abed31f969a","name":"","source":{"id":"9a33747a-db34-3f9b-811d-0ac6ac0cbf72","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ExecuteSQL","comments":"Get unprocessed data from postgresql \"staging_weather_raw\"","instanceIdentifier":"8e573675-0195-1000-53bf-5e6aa6ec4bdb"},"destination":{"id":"8cd4dd43-10db-393c-87bd-64fee809d7fa","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ConvertRecord","comments":"Convert from Arvo to JSON","instanceIdentifier":"8f15e727-0195-1000-827f-ac1d16a710fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"0cf9d691-4277-3c6b-b0cd-5dcc8f84b12c","instanceIdentifier":"8ef6724e-0195-1000-9984-d58fe18433c1","name":"","source":{"id":"e444d5c4-bfe1-3e94-bb4f-4386b3f7ba1e","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"UpdateAttribute","comments":"Transform Data:\n- Temperature: from Kevin to Celsius\n- Timestamp: to UTC","instanceIdentifier":"8ead42fe-0195-1000-0d69-a2579cb6e4d4"},"destination":{"id":"6dd20b18-b995-3405-b193-e614d145f11f","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ReplaceText","comments":"","instanceIdentifier":"8ecde451-0195-1000-b62f-8d2ad6180c9c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"e6577cb4-edbc-3859-a16c-16ed53b8b389","instanceIdentifier":"8f18b3c2-0195-1000-5353-0b0dd928f686","name":"","source":{"id":"b6b986a5-d775-3a47-a2af-0e0bd87aab9b","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"SplitJson","comments":"Split JSON array into smaller object FlowFiles","instanceIdentifier":"8f17deef-0195-1000-5910-dbf2a78cd160"},"destination":{"id":"39d555b4-74b0-36dc-97bd-e092d0ece3b6","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f18a2a9-0195-1000-2b88-80f401b2598f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"340ff8f0-ee6d-30a1-86df-22bc3cb16752","instanceIdentifier":"8f1db94a-0195-1000-ebad-4dd399c4192d","name":"","source":{"id":"b6b986a5-d775-3a47-a2af-0e0bd87aab9b","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"SplitJson","comments":"Split JSON array into smaller object FlowFiles","instanceIdentifier":"8f17deef-0195-1000-5910-dbf2a78cd160"},"destination":{"id":"5640079c-de42-36ac-a5dd-59f9fb910605","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"EvaluateJsonPath","comments":"Turn data content into FlowFile attributes","instanceIdentifier":"8f1cda2a-0195-1000-b9f6-e777f96de148"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"dd07108c-88c6-3fa2-bd51-0f397377a0d9","instanceIdentifier":"8f1857ae-0195-1000-1dd9-1595baef4f05","name":"","source":{"id":"8cd4dd43-10db-393c-87bd-64fee809d7fa","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ConvertRecord","comments":"Convert from Arvo to JSON","instanceIdentifier":"8f15e727-0195-1000-827f-ac1d16a710fc"},"destination":{"id":"b6b986a5-d775-3a47-a2af-0e0bd87aab9b","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"SplitJson","comments":"Split JSON array into smaller object FlowFiles","instanceIdentifier":"8f17deef-0195-1000-5910-dbf2a78cd160"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"88bcdfe5-9de2-3c0a-8b36-c3719d8b9ab6","instanceIdentifier":"906414e5-0195-1000-2e50-afa22caa143e","name":"","source":{"id":"6fc720d4-299f-3db0-a185-4090ea34e3d1","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"PutSQL","comments":"Update \"processed\" field in \"staging_weather_raw\"","instanceIdentifier":"9062061f-0195-1000-38aa-2688ba288b29"},"destination":{"id":"6b1c70d4-c1e3-3b6a-80ae-07d5be7f0e53","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f1a7589-0195-1000-a7a1-e442c9e60cb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"3ecd367f-9f58-3393-ba53-044dc03184a1","instanceIdentifier":"8ffe8f06-0195-1000-8702-24b4c371d97a","name":"","source":{"id":"6398ad86-43f1-38a4-b276-bffe76ca4758","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"PutDatabaseRecord","comments":"Insert cleaned data into Database","instanceIdentifier":"8ffbcf3f-0195-1000-c294-22cbb8a5b5d7"},"destination":{"id":"6b1c70d4-c1e3-3b6a-80ae-07d5be7f0e53","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f1a7589-0195-1000-a7a1-e442c9e60cb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"8266e5ca-6454-3235-b1e2-39f278d3ed99","instanceIdentifier":"8ffe17cd-0195-1000-c2a2-dccb64bb5ad4","name":"","source":{"id":"6dd20b18-b995-3405-b193-e614d145f11f","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ReplaceText","comments":"","instanceIdentifier":"8ecde451-0195-1000-b62f-8d2ad6180c9c"},"destination":{"id":"6398ad86-43f1-38a4-b276-bffe76ca4758","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"PutDatabaseRecord","comments":"Insert cleaned data into Database","instanceIdentifier":"8ffbcf3f-0195-1000-c294-22cbb8a5b5d7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"d16fa28d-4d72-3872-9045-ec26b3e117db","instanceIdentifier":"8f204ee9-0195-1000-7f29-c433b00580ac","name":"","source":{"id":"e444d5c4-bfe1-3e94-bb4f-4386b3f7ba1e","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"UpdateAttribute","comments":"Transform Data:\n- Temperature: from Kevin to Celsius\n- Timestamp: to UTC","instanceIdentifier":"8ead42fe-0195-1000-0d69-a2579cb6e4d4"},"destination":{"id":"6b1c70d4-c1e3-3b6a-80ae-07d5be7f0e53","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f1a7589-0195-1000-a7a1-e442c9e60cb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"e073bc21-692f-3fe2-bf5c-331204f885d6","instanceIdentifier":"8e63b68a-0195-1000-f09d-b89deed6f44e","name":"","source":{"id":"9a33747a-db34-3f9b-811d-0ac6ac0cbf72","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"ExecuteSQL","comments":"Get unprocessed data from postgresql \"staging_weather_raw\"","instanceIdentifier":"8e573675-0195-1000-53bf-5e6aa6ec4bdb"},"destination":{"id":"92d2c580-4ce3-37d3-8eb8-8737e4fa6259","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8e639765-0195-1000-2b09-df868d147b41"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"908a8b0c-e276-3d46-b4e7-cd1f5cd62ae3","instanceIdentifier":"9062d7b4-0195-1000-5eec-23ac626a4644","name":"","source":{"id":"6398ad86-43f1-38a4-b276-bffe76ca4758","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"PutDatabaseRecord","comments":"Insert cleaned data into Database","instanceIdentifier":"8ffbcf3f-0195-1000-c294-22cbb8a5b5d7"},"destination":{"id":"6fc720d4-299f-3db0-a185-4090ea34e3d1","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"PutSQL","comments":"Update \"processed\" field in \"staging_weather_raw\"","instanceIdentifier":"9062061f-0195-1000-38aa-2688ba288b29"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"31738df4-3f39-3067-a569-be07f7b217c4","instanceIdentifier":"8f1fab09-0195-1000-e499-f84e0e83e469","name":"","source":{"id":"5640079c-de42-36ac-a5dd-59f9fb910605","type":"PROCESSOR","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"EvaluateJsonPath","comments":"Turn data content into FlowFile attributes","instanceIdentifier":"8f1cda2a-0195-1000-b9f6-e777f96de148"},"destination":{"id":"39d555b4-74b0-36dc-97bd-e092d0ece3b6","type":"FUNNEL","groupId":"c4b8f757-626b-3c3a-9af0-7fbdd720df77","name":"Funnel","comments":"","instanceIdentifier":"8f18a2a9-0195-1000-2b88-80f401b2598f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"}],"labels":[],"funnels":[{"identifier":"6b1c70d4-c1e3-3b6a-80ae-07d5be7f0e53","instanceIdentifier":"8f1a7589-0195-1000-a7a1-e442c9e60cb9","position":{"x":-616.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"92d2c580-4ce3-37d3-8eb8-8737e4fa6259","instanceIdentifier":"8e639765-0195-1000-2b09-df868d147b41","position":{"x":-608.0,"y":-264.0},"componentType":"FUNNEL","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"39d555b4-74b0-36dc-97bd-e092d0ece3b6","instanceIdentifier":"8f18a2a9-0195-1000-2b88-80f401b2598f","position":{"x":584.0,"y":40.0},"componentType":"FUNNEL","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"}],"controllerServices":[{"identifier":"91097ba1-2f83-3837-bb8d-526b504cdda2","instanceIdentifier":"8f163520-0195-1000-f747-959f527958cf","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"9749f4b4-aea8-3c4e-99ea-af4e5350f624","instanceIdentifier":"8f166fbe-0195-1000-1ab7-875381081273","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"13fe8918-94db-3bf9-9437-d94dee2013b6","instanceIdentifier":"8e5782a1-0195-1000-d199-00afcb7c551a","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/climeweather_dw","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"E:\\AppData\\PostgreSQL\\driver\\postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"6af0a52d-1c8f-3afc-b4ca-2667e7df638d","instanceIdentifier":"90626c53-0195-1000-ae8a-dc7b78217e36","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":null,"dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":null,"dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"},{"identifier":"5d371a4b-930c-353b-b199-a23cf0b1d77b","instanceIdentifier":"8ffc5689-0195-1000-5a8a-fdd4f5c44b16","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c4b8f757-626b-3c3a-9af0-7fbdd720df77"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7ebd0df2-9c89-345c-af47-e25c4f2f4538"},{"identifier":"cc9cfda8-1a92-38af-84fb-b15c4ba93d54","instanceIdentifier":"98ead8f3-0195-1000-ea25-93304e9a07f1","name":"ETL Data from Staging Area to DWH","comments":"","position":{"x":-320.0,"y":-688.0},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7ebd0df2-9c89-345c-af47-e25c4f2f4538"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"1c18fd91-2e34-3258-a850-6b4465c753ea","instanceIdentifier":"7f57f73f-0195-1000-04fc-cda12a461545","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.2.0"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"mongodb://localhost:27017","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7ebd0df2-9c89-345c-af47-e25c4f2f4538"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}